@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0; /* Black text */
  --background-start-rgb: 255, 255, 255; /* White background */
  --background-end-rgb: 255, 255, 255; /* White background */
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb)); /* Solid white background */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
